#FTL Homeworld - Config File
#Sun Jul 28 21:37:50 EDT 2013
HomeworldSave=G\:\\Users\\Austin Kucera\\Eclipse\\Workspace\\AK Homeworld\\Homeworld.sav
ftlDatsPath=D\:\\Games\\Faster Than Light\\resources
ftlSavePath=G\:\\Users\\Austin Kucera\\Eclipse\\Workspace\\AK Homeworld
