#FTL Homeworld - Config File
#Thu Aug 01 22:45:47 EDT 2013
HomeworldSave=G\:\\Users\\Austin Kucera\\Eclipse\\Workspace\\AK Homeworld\\Homeworld.sav
ftlDatsPath=D\:\\Games\\Faster Than Light\\resources
ftlSavePath=G\:\\Users\\Austin Kucera\\Eclipse\\Workspace\\AK Homeworld
